header {
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #A2510E;
}
ul{
    display: flex;
    text-decoration: none;
    gap: 1.5rem;
}